<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<style>
  html, body, #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
  }

  #panel {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
  }
</style>

<script>
  var geocoder;
  var map;
  var markers = [];
  var currentMarker = null;

  function setAllMap(map) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setMap(map);
    }
  }

  function clearMarkers() {
    setAllMap(null);
    markers = [];
  }

  function getUserLocationAndDirections() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(currentUserLocationAndDirections, currentUserLocationError);
      } else {
        alert("Geolocation is not supported by this browser.");
      }
  }

  function currentUserLocationAndDirections(position) {
      // +
      //position.coords.longitude;
      window.open('https://www.google.com/maps/dir/' + position.coords.latitude +',' + position.coords.longitude + '/' + currentMarker.position.lat() + ',' + currentMarker.position.lng(), '_blank'); 
  }

  function currentUserLocationError(error) {
    alert(error);
  }

  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 12,
      center: latlng,
      styles: [{"featureType":"all","elementType":"labels.text.fill","stylers":[{"saturation":36},{"color":"#000000"},{"lightness":40}]},{"featureType":"all","elementType":"labels.text.stroke","stylers":[{"visibility":"on"},{"color":"#000000"},{"lightness":16}]},{"featureType":"all","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"administrative","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"administrative","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":17},{"weight":1.2}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":20}]},{"featureType":"poi","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":21}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#000000"},{"lightness":17}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#000000"},{"lightness":29},{"weight":0.2}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":18}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":16}]},{"featureType":"transit","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":19}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#000000"},{"lightness":17}]}]
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
  }

  function getJSONStores(lat, lng, miles) {
    clearMarkers();   
    $.getJSON('/stores/near_points?lat=' + lat + '&lng=' + lng + '&miles=' +  miles, function(response) {
      
        
        for (var i = 0; i < response.length; i++) {
          var store = response[i];
          var poss = new google.maps.LatLng(store.latitude,
                                         store.longitude);

          var marker = new google.maps.Marker({
              map: map,
              position: poss
          });

          marker.store = store;

          createInfoWindow(marker);

          markers.push(marker);
  
        }

  
        $.unblockUI();
    });
  }

  function createInfoWindow(marker) {
    var contentString = '<div id="content">'+
      '<div id="siteNotice">'+
      '</div>'+
      '<h1 id="firstHeading" class="firstHeading">' + marker.store.name + '</h1>'+
      '<div id="bodyContent">'+
      '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
      'sandstone rock formation in the southern part of the '+
      'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
      'south west of the nearest large town, Alice Springs; 450&#160;km '+
      '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
      'features of the Uluru - Kata Tjuta National Park. Uluru is '+
      'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
      'Aboriginal people of the area. It has many springs, waterholes, '+
      'rock caves and ancient paintings. Uluru is listed as a World '+
      'Heritage Site.</p>'+
      '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
      'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
      '(last visited June 22, 2009).</p><a href="#" onclick="getUserLocationAndDirections()">Como viajo al lugar???</a>'+
      '</div>'+
      '</div>';

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    marker.infoWindow = infowindow;

    google.maps.event.addListener(marker, 'click', function() {
      currentMarker = marker;
      map.setCenter(marker.getPosition());
      infowindow.open(map, marker);
    });

  }

  function codeAddress() {
    var finalAddress = $('#cityInput').val() + ', ' + $('#countryInput').val();

    if($('#zipInput').val() != '') {
      finalAddress = $('#zipInput').val() + ', ' + finalAddress; 
    }

    $.blockUI();

    geocoder.geocode( { 'address': finalAddress}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        var location = results[0].geometry.location;
        map.setCenter(location);
        
        getJSONStores(location.lat(), location.lng(), $('#milesInput').val());

      } else {
        $.unblockUI();
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>


<p id="notice"><%= notice %></p>

<h1>Listing Stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address 1</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.address_1 %></td>
        <td><%= store.city %></td>
        <td><%= store.state %></td>
        <td><%= store.zip %></td>
        <td><%= store.country %></td>
        <td><%= store.latitude %></td>
        <td><%= store.longitude %></td>
        <td><%= link_to 'Show', store %></td>
        <td><%= link_to 'Edit', edit_store_path(store) %></td>
        <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store', new_store_path %>

<div id="panel">
  <input id="zipInput" type="textbox" placeholder="zip">
  <input id="cityInput" type="textbox" placeholder="city">
  <input id="countryInput" type="textbox" placeholder="country">
  <select id="milesInput">
    <option value="5">5 miles</option>
    <option value="10">10 miles</option>
    <option value="15">15 miles</option>
    <option value="20">20 miles</option>
    <option value="25">25 miles</option>
    <option value="30">30 miles</option>
  </select>
  <input type="button" value="Find!!!" onclick="codeAddress()">
</div>
<div id="map-canvas"></div>